.selector {
    background-color: #ffffff;
    border: solid 0.99px rgba(121, 121, 121, 0.4);
    border-radius: 5px;
    color: #000002;
    height: 45px;
    justify-content: center; 
}

.selectorarea {
    background-color: #ffffff;
    border: solid 0.99px rgba(121, 121, 121, 0.4);
    border-radius: 5px;
    color: #000002;
    justify-content: center; 
}
.fixalignment {
    padding-top: 35px;
}