ion-segment{
    background:#FF0000
    
}
.columText{
   
    text-align: center;
    color: white;
}
.labelColor{
    background:#FF0000;
    font-size: 150%;
  
    border-radius: 10px;
    border: 3px solid #FF0000;
}