form, input, optgroup, select {
    font-size: small;
}

form {
    margin: 20px;
}

.selector {
    background-color: #ffffff;
    border: solid 1.2px rgba(67, 67, 67, 0.4);
    border-radius: 5px;
    color: #000002;
    height: 45px;
    justify-content: center; 
  }