.selector {
    background-color: #ffffff;
    border: solid 0.55px rgba(121, 121, 121, 0.4);
    border-radius: 5px;
    color: #000002;
    height: 45px;
    justify-content: center; 
}

.buttomLocal {
    text-transform: capitalize;
    margin-top: 25px;
    margin-left: 10px;
}