<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Reenvio de Infrações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" method="post">
    <ion-row>
      <!-- <ion-col>
        <ion-label position="floating">Segmento</ion-label>
        <ion-select class="selector" [(ngModel)]="infracao.Segmento" name="Segmento" cancelText="Desistir"
          doneText="Confirmar" (ionChange)="CarregaSegmentoGrupos()" required interface='popover'>
          <ion-select-option *ngFor="let segmento of segmentos" value="{{segmento.segmento}}">{{segmento.segmento}}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-label position="floating">Grupo</ion-label>
        <ion-select class="selector" [(ngModel)]="infracao.Grupo" name="Grupo" cancelText="Desistir"
          doneText="Confirmar" (ionChange)="CarregaSegmentoGrupoUsuarios()" disabled="{{grupos.length == 0}}"
          interface='popover'>
          <ion-select-option *ngFor="let grupo of grupos" value="{{grupo.codigo}}">{{grupo.nome}}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-label position="floating">Usuário</ion-label>
        <ion-select class="selector" [(ngModel)]="infracao.usuario" name="usuario" cancelText="Desistir"
          doneText="Confirmar" disabled="{{users.length == 0}}" interface='popover'>
          <ion-select-option *ngFor="let Itens of users" value="{{Itens.codigo}}">{{Itens.nome}}
          </ion-select-option>
        </ion-select>
      </ion-col> -->
      <ion-col>
        <ion-item>
          <ion-label position='stacked'>Órgão</ion-label>
          <ionic-selectable #segmentoComponent item-content [(ngModel)]="infracao.Segmento" name="Segmento"
            itemValueField="codigo" itemTextField="segmento" [items]="segmentos" [canSearch]="true" [canClear]="true"
            [shouldFocusSearchbar]="true" [shouldStoreItemValue]="true" searchFailText="Sem dados a mostrar"
            placeholder="Órgão" searchPlaceholder="Pesquisar" (onChange)="CarregaSegmentoGrupos()">
            <ng-template ionicSelectableHeaderTemplate>
              <ion-toolbar>
                <ion-buttons start>
                  <ion-button (click)="segmentoComponent.close()">
                    <ion-label>Cancelar</ion-label>
                  </ion-button>
                </ion-buttons>
                <ion-title>
                </ion-title>
              </ion-toolbar>
            </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position='stacked'>Unidade</ion-label>
          <ionic-selectable #grupoComponent item-content [(ngModel)]="infracao.Grupo" name="Grupo"
            itemValueField="codigo" itemTextField="nome" [items]="grupos" [canSearch]="true" [canClear]="true"
            [shouldFocusSearchbar]="true" [shouldStoreItemValue]="true" searchFailText="Sem dados a mostrar"
            placeholder="Unidade" searchPlaceholder="Pesquisar" (onChange)="CarregaSegmentoGrupoUsuarios()">
            <ng-template ionicSelectableHeaderTemplate>
              <ion-toolbar>
                <ion-buttons start>
                  <ion-button (click)="grupoComponent.close()">
                    <ion-label>Cancelar</ion-label>
                  </ion-button>
                </ion-buttons>
                <ion-title>
                </ion-title>
              </ion-toolbar>
            </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position='stacked'>Usuário</ion-label>
          <ionic-selectable #usuarioComponent item-content [(ngModel)]="infracao.usuario" name="usuario"
            itemValueField="codigo" itemTextField="nome" [items]="users" [canSearch]="true" [canClear]="true"
            [shouldFocusSearchbar]="true" [shouldStoreItemValue]="true" searchFailText="Sem dados a mostrar"
            placeholder="Usuário" searchPlaceholder="Pesquisar">
            <ng-template ionicSelectableHeaderTemplate>
              <ion-toolbar>
                <ion-buttons start>
                  <ion-button (click)="usuarioComponent.close()">
                    <ion-label>Cancelar</ion-label>
                  </ion-button>
                </ion-buttons>
                <ion-title>
                </ion-title>
              </ion-toolbar>
            </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label position="floating">Data Inicio</ion-label>
        <ion-input class="selector" (ionChange)="dataInicio($event)" type="Date" [(ngModel)]="infracao.DataInicial"
          name="DataInicial" displayFormat="DD/MM/YYYY" required>
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-label position="floating">Data Fim</ion-label>
        <ion-input class="selector" [disabled]="disabledata" type="Date" [(ngModel)]="infracao.DataFinal"
          name="DataFinal" displayFormat="DD/MM/YYYY" required>
        </ion-input>
      </ion-col>
      <ion-col>
        <label for="name">Placa</label>
        <ion-input class="selector" [(ngModel)]="infracao.placa" type="text" name="placa"
          pattern="[A-Za-z0-9._%+-]{2,}"></ion-input>
      </ion-col>
      <ion-col>
        <label for="name">Código Infração</label>
        <ion-input class="selector" [(ngModel)]="infracao.codigo_infracao" type="text" name="codigo_infracao"
          pattern="[0-9]{2,}"></ion-input>
      </ion-col>
      <ion-col>
        <br>
        <ion-button expand="full" color="primary" (click)="CarregaInfracoesUsuario(form)"
          [disabled]="permissoes.Pesquisar == 0 || !form.valid">Pesquisar</ion-button>
      </ion-col>
    </ion-row>

  </form>

  <form #formInfracoes="ngForm" (ngSubmit)="confirmarReenvioInfracoes(formInfracoes)" method="post">
    <div *ngIf="showChecks">
      <ion-text>{{ quantInfracoesSelecionadas }} infrações selecionadas para o reenvio de cada infração.</ion-text>
    </div>

    <div>
      <ion-button color="primary" type="submit" *ngIf="showButtonReenviar === true"
        [disabled]="quantInfracoesSelecionadas == 0">
        Reenviar Infrações Selecionadas</ion-button>
    </div>


    <ion-grid *ngIf="showTable && Infracoes.length > 0">
      <ion-text *ngIf="showButtonReenviar === false">As infrações a seguir serão reenviadas automaticamente</ion-text>
      <!-- [columns]="columns" -->
      <ngx-datatable class="bootstrap" [rows]="Infracoes" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40"
        rowHeight="auto" [scrollbarH]="true" [limit]="10">

        <ngx-datatable-column name="Checks" *ngIf="showChecks" [width]="50">
          <ng-template let-column="column" ngx-datatable-header-template>
            <ion-checkbox (ionChange)="onOffCheckInfracoes($event)"></ion-checkbox>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ion-checkbox [(ngModel)]="row.reenviar" name='{{row.codigo}}'
              (ngModelChange)="contarInfracaoSelecionada($event)"></ion-checkbox>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" *ngIf="showChecks" [width]="60">
          <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.status2}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="AUTO">
          <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
          <ng-template let-row="row" let-value="NumeroAuto" ngx-datatable-cell-template>
            {{row.auto}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Código DETRAN">
          <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.ndetran}}</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Enquadramento">
          <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.codigo_infracao}}.{{row.desdobramento_infracao}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Descrição">
          <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template><span
              (mouseenter)="showDescricao(row.descricao_infracao, $event)"
              (mouseleave)="hiddeDescricao(row.descricao_infracaoCurta, $event)">{{row.descricao_infracaoCurta}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Data Infração">
          <ng-template let-column="column" ngx-datatable-header-template>{{ column.name }}</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.data_ocorrencia}} {{row.hora_ocorrencia}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

    </ion-grid>
  </form>
</ion-content>