<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Consultas GEO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="getLocalizacao('')" method="post">

    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-sm="3">
          <ion-item>
            <ion-label position='stacked'>Data inicio</ion-label>
            <ion-input [(ngModel)]="consultaGeo.dataInicio" name="dataInicio" type="Date" required>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="3">
          <ion-item>
            <ion-label position='stacked'>Data fim</ion-label>
            <ion-input [(ngModel)]="consultaGeo.dataFin" name="dataFin" type="Date" required>
            </ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col size-xs="12" size-sm="4">
          <ion-item>
            <ion-label position='stacked'>Órgão</ion-label>
            <ionic-selectable #segmentoComponent item-content [(ngModel)]="consultaGeo.segmento" name="segmento"
              itemValueField="codigo" itemTextField="segmento" [items]="segmentos" [canSearch]="true" [canClear]="true"
              [shouldFocusSearchbar]="true" [shouldStoreItemValue]="true" searchFailText="Sem dados a mostrar"
              searchPlaceholder="Pesquisar" (onChange)="CarregaSegmentoGrupos()">
              <ng-template ionicSelectableHeaderTemplate>
                <ion-toolbar>
                  <ion-buttons start>
                    <ion-button (click)="segmentoComponent.close()">
                      <ion-label>Cancelar</ion-label>
                    </ion-button>
                  </ion-buttons>
                  <ion-title>
                  </ion-title>
                </ion-toolbar>
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="4">
          <ion-item>
            <ion-label position='stacked'>Unidade</ion-label>
            <ionic-selectable #grupoComponent item-content [(ngModel)]="consultaGeo.grupo" name="grupo"
              itemValueField="codigo" itemTextField="nome" [items]="grupos" [canSearch]="true" [canClear]="true"
              [shouldFocusSearchbar]="true" [shouldStoreItemValue]="true" searchFailText="Sem dados a mostrar"
              searchPlaceholder="Pesquisar" (onChange)="CarregaSegmentoGrupoUsuarios()"
              disabled="{{grupos.length == 0}}">
              <ng-template ionicSelectableHeaderTemplate>
                <ion-toolbar>
                  <ion-buttons start>
                    <ion-button (click)="grupoComponent.close()">
                      <ion-label>Cancelar</ion-label>
                    </ion-button>
                  </ion-buttons>
                  <ion-title>
                  </ion-title>
                </ion-toolbar>
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="4">
          <ion-item>
            <ion-label position='stacked'>Usuário</ion-label>
            <ionic-selectable #usuarioComponent item-content [(ngModel)]="consultaGeo.usuario" name="usuario"
              itemValueField="codigo" itemTextField="nome" [items]="users" [canSearch]="true" [canClear]="true"
              [shouldFocusSearchbar]="true" [shouldStoreItemValue]="true" searchFailText="Sem dados a mostrar"
              searchPlaceholder="Pesquisar" disabled="{{users.length == 0}}">
              <ng-template ionicSelectableHeaderTemplate>
                <ion-toolbar>
                  <ion-buttons start>
                    <ion-button (click)="usuarioComponent.close()">
                      <ion-label>Cancelar</ion-label>
                    </ion-button>
                  </ion-buttons>
                  <ion-title>
                  </ion-title>
                </ion-toolbar>
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Tipo Pesquisa</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label class="fontsize">Álbum</ion-label>
            <ion-checkbox [(ngModel)]="consultaGeo.album" name="album" slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-label class="fontsize">Antecedentes</ion-label>
            <ion-checkbox [(ngModel)]="consultaGeo.antecedentes" name="album" slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-label class="fontsize">Condutor</ion-label>
            <ion-checkbox [(ngModel)]="consultaGeo.condutores" name="condutores" slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        <!--
        <ion-col>
          <ion-item lines="none">
            <ion-label class="fontsize">Indivíduo</ion-label>
            <ion-checkbox [(ngModel)]="consultaGeo.individuo" name="individuo" slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        -->
        <ion-col>
          <ion-item lines="none">
            <ion-label class="fontsize">Veículo</ion-label>
            <ion-checkbox [(ngModel)]="consultaGeo.veiculos" name="veiculos" slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
        <!-- 
        <ion-col>
          <ion-item lines="none">
            <ion-label class="fontsize">Veículo restrição</ion-label>
            <ion-checkbox [(ngModel)]="consultaGeo.veiculoRestricao" name="veiculoRestricao" slot="start">
            </ion-checkbox>
          </ion-item>
        </ion-col>
        -->
        <ion-col>
          <ion-item lines="none">
            <ion-label class="fontsize">Todos</ion-label>
            <ion-checkbox [(ngModel)]="consultaGeo.todos" name="todos" slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="buttonscenter">
        <ion-col size-xs="12" size-sm="3">
          <ion-button expand="block" type="submit" [disabled]="!form.valid || permissoes.Pesquisar == 0">Pesquisar
          </ion-button>
        </ion-col>
        <ion-col size-xs="12" size-sm="3">
          <ion-button expand="block" [disabled]="!form.valid || permissoes.Pesquisar == 0"
            (click)='getLocalizacao("X")'>
            Excel
            <ion-icon name="download"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="activeLeyendAll">
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-icon color="warning" name="locate"></ion-icon>
            <ion-label>Bombeiro</ion-label>
          </ion-row>
          <ion-row>
            <ion-icon color="primary" name="locate"></ion-icon>
            <ion-label>Policia Federal</ion-label>
          </ion-row>
          <ion-row>
            <ion-icon color="tertiary" name="locate"></ion-icon>
            <ion-label>Policia Rodoviaria</ion-label>
          </ion-row>
          <ion-row>
            <ion-icon color="warning" name="locate"></ion-icon>
            <ion-label>DETRAN</ion-label>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-icon color="success" name="locate"></ion-icon>
            <ion-label>Policia Civil</ion-label>
          </ion-row>
          <ion-row>
            <ion-icon color="danger" name="locate"></ion-icon>
            <ion-label>Policia Militar</ion-label>
          </ion-row>
          <ion-row>
            <ion-icon color="dark" name="locate"></ion-icon>
            <ion-label>SSP/BA</ion-label>
          </ion-row>

        </ion-col>
      </ion-row>

    </ion-grid>
    <ion-grid *ngIf="activeLeyendMarket">
      <ion-row *ngIf="activeMarker">
        <ion-icon color="{{color}}" name="locate"></ion-icon>
        <ion-label>{{consultaGeo.segmento}}</ion-label>
      </ion-row>
    </ion-grid>
  </form>

  <iframe *ngIf="mapURL" [src]="mapURL" width="100%" height="100%" scrolling="no" frameborder="0"></iframe>
</ion-content>